.dropdown {
  width: 200px;
  height: 100px;
  position: absolute;
  box-shadow: 0px 4px 12px rgb(37 41 45 / 20%);
  transition: transform 0.35s ease-out;
  z-index: 9999999;
  background: white;
  top: 100%;
  left: 0;
}

.dropdownItem {
  background: #F7FBFF;
  margin: 0px 0px;
  display: flex;
  width: 100%;
  align-items: center;
  height: 50px;
  cursor: pointer;
  color: #535C65;
  padding: .85rem 1.5rem .25rem;
}

.droddownItemLink {
  color: inherit;
}

.dropdownItem:hover {
  background: #E8F3FF;
  color: #535C65;
}
.droddownItemLink:hover {
  color: #535C65;
}
.hidden {
  opacity: 0;
  transition: transform .3s ease-in;
  transform: translateY(-10px);
}

.pressed {
  opacity: 1;
  transform: translateY(10px);
}

@media (max-width: 500px) {
  .hidden {
    transform: translateX(-95%)  translateY(-10px);
  }
  .pressed {
    transform: translateX(-95%) translateY(20px);
  }
}
