.motTemplateSidebar {
  width: 230px;
  padding: 0.95rem 1rem;
  font-size: 16px;
  max-height: 1100px;
  background: #f2f1f0;
  color: #333758;
}
.motTemplateSidebarHeader {
  padding-bottom: 0.55rem;
  border-bottom: 2px solid #134a7c;
  border-radius: 4px 4px 0px 0px;
  margin-top: 0.85rem;
}
.motTemplateSidebarHeader h3 {
  display: flex;
  justify-content: space-between;
  font-size: inherit;
  font-weight: 700;
  text-transform: capitalize;
}
.motTemplateSidebarHeaderTwo h3 {
  display: flex;
  justify-content: space-between;
  font-size: inherit;
  font-weight: 700;
  text-transform: capitalize;
}
.motTemplateSidebarList {
}
.motTemplateSidebarItem {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1.25rem;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1.5px solid rgba(69, 88, 128, 0.15);
  border-radius: 4px 4px 0px 0px;
}

.motTemplateSidebarItemInfo {
  display: flex;
  align-items: baseline;
}
.motTemplateSidebarItemInfo h4 {
  font-size: 16px;
  text-transform: capitalize;
}
.motTemplateSidebarItemAmount {
}

.motTemplateSidebarItemAmount p {
  font-size: 14px;
}

.motTemplateToolItem {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1.65rem;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1.5px solid rgba(69, 88, 128, 0.15);
  border-radius: 4px 4px 0px 0px;
}
.motTemplateToolItemInfo {
  display: flex;
  align-items: baseline;
}
.motTemplateToolItemInfo img {
  width: 16px;
  height: 16px;
}
.motTemplateToolItemInfo h4 {
  font-size: 16px;
  text-transform: capitalize;
}

.motTemplateToolCheckbox {
  display: flex;
  align-items: center;
  user-select: none;
}

.motTemplateToolInputCheckbox {
  opacity: 0;
  width: 24px;
  height: 24px;
  position: absolute;
}

.motTemplateCheck {
  pointer-events: none;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 100px;
  background-color: transparent;
  border: 2px solid #134a71;
  box-shadow: 0px 0px 0px 0px #134a71 inset;
  transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
}

.motTemplateCheck::after {
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 4;
  position: absolute;
  transform: scale(0);
  background-size: 50%;
  background-image: url('../../../assets/checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition-delay: 0.2s !important;
  transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}

.motTemplateToolInputCheckbox:checked ~ .motTemplateCheck {
  border: none;
  box-shadow: 0px 0px 0px 15px #134a71 inset;
}

.motTemplateToolInputCheckbox:checked ~ .motTemplateCheck::after {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 500px) {
  .motTemplateSidebar {
    width: 100%;
  }
}
