body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

.small-texts {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.smaller-texts {
  font-size: 0.8rem;
  line-height: 1rem;
  font-style: italic;
  color: #3c3c3c;
}

.medium-texts {
  font-size: 2rem;
  line-height: 2.1rem;
  font-weight: 400;
}

.black-text {
  color: #000000;
  font-weight: 400;
}

.white-text {
  color: #ffffff;
}

.blue-text {
  color: #13497c;
}

.logo {
  height: 50px;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* FORM STYLES */

.mot-form {
  margin: 20px;
  padding: 20px 0 20px;
}

.mot-form-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #000;
}

@media screen and (max-width: 700px) {
  .small-texts {
    font-size: 1rem !important;
    line-height: 1.6rem !important;
    font-weight: normal !important;
  }

  .medium-texts {
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 400;
  }
}

select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(transparent 70%, transparent 72%) !important;
  background-position: calc(100% - 20px) calc(1em + 6px),
    calc(100% - 15px) calc(1em + 6px), calc(100% - 0.5em) 0.5em !important;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em !important;
  background-repeat: no-repeat !important;
}
